@charset "utf-8";
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/*
	The general theme option styles.
*/
/*
	The theme options specific for the form styles.
*/
/*
.rounded-corners(@radius1: 7px, @radius2: 7px, @radius3: 7px, @radius4: 7px) {
	-moz-border-radius: @radius1 @radius2 @radius3 @radius4;
	-webkit-border-radius: @radius1 @radius2 @radius3 @radius4;
	border-radius: @radius1 @radius2 @radius3 @radius4;
}
.box-shadow(@x: 0px, @y: 0px, @size: 5px, @color: #000) {
	-moz-box-shadow: 		@arguments;
	-webkit-box-shadow: 	@arguments;
	box-shadow: 			@arguments;
}
.core-opacity(@op:100) {
	opacity: (@op/100);
	zoom: 1;
}
.constrain(@width: 960px) {
	display: block;
	width: @width;
	margin: 0 auto;
}
*//*
@column-width: 60;
@gutter-width: 20;
@columns: 12;

@total-width: 100%;
*/
.borderBoxSizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font: normal 100% Arial, sans-serif;
}
body {
  color: #333333;
  font-size: .75em;
  /* 12px / 16px*/

  /*	width: @core-page-width;*/

}
body  > div {
  padding: 2.929688%;
  /* 30px / 1024px */

}
header {
  background: green;
  color: #fff;
  padding: 1px;
  text-align: center;
}
section {
  border: 5px dashed blue;
  /* 5px / 1024px */

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
section article {
  border: 1px solid red;
  padding: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
aside {
  border: 5px dashed orange;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
}
footer {
  clear: both;
  color: #fff;
  text-align: center;
  background: #80bf40;
  padding: 20px;
}
@media only screen and (min-width: 480px) {
  section {
    float: left;
    width: 66%;
  }
  aside {
    float: left;
    width: 33%;
  }
}
@media only screen and (min-width: 1024px) {
  div {
    /*		.column(12);*/
  
  }
  div section {
    /*			.column(10);*/
  
    /*			.row(12);*/
  
    float: left;
    width: 75%;
  }
  div section article {
    /*				.column(5,10, 10);*/
  
    float: left;
    width: 50%;
  }
  div aside {
    /*			.column(2);*/
  
    float: left;
    width: 25%;
  }
}
/* !Clearfix */
body > div:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE6 */
/*
* html .subInputList {
	height: 1%;
}
*/
/* IE7 */
/*
*:first-child+html .subInputList {
	min-height: 1px;
}
*/
